In [1]:
#Whole Code is in This cell
import pandas as pd
df = pd.read_csv('iris.csv')
df.head()
df.tail()
df.shape
df.describe
df.info
df.isna
df.isnull().sum()
mapping = {'Setosa': 0, 'Versicolor': 1, 'Virginica': 2}

# Replace values directly in the original column
df['Species'] = df['Species'].map(mapping)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('iris.csv')
df.head()

   Id  SepalLength  SepalWidth  PetalLength  PetalWidth Species
0   1          5.1         3.5          1.4         0.2  Setosa
1   2          4.9         3.0          1.4         0.2  Setosa
2   3          4.7         3.2          1.3         0.2  Setosa
3   4          4.6         3.1          1.5         0.2  Setosa
4   5          5.0         3.6          1.4         0.2  Setosa

In [4]:
df.tail()

      Id  SepalLength  SepalWidth  PetalLength  PetalWidth    Species
145  146          6.7         3.0          5.2         2.3  Virginica
146  147          6.3         2.5          5.0         1.9  Virginica
147  148          6.5         3.0          5.2         2.0  Virginica
148  149          6.2         3.4          5.4         2.3  Virginica
149  150          5.9         3.0          5.1         1.8  Virginica

In [5]:
df.describe

<bound method NDFrame.describe of       Id  SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0      1          5.1         3.5          1.4         0.2     Setosa
1      2          4.9         3.0          1.4         0.2     Setosa
2      3          4.7         3.2          1.3         0.2     Setosa
3      4          4.6         3.1          1.5         0.2     Setosa
4      5          5.0         3.6          1.4         0.2     Setosa
..   ...          ...         ...          ...         ...        ...
145  146          6.7         3.0          5.2         2.3  Virginica
146  147          6.3         2.5          5.0         1.9  Virginica
147  148          6.5         3.0          5.2         2.0  Virginica
148  149          6.2         3.4          5.4         2.3  Virginica
149  150          5.9         3.0          5.1         1.8  Virginica

[150 rows x 6 columns]>

In [6]:
df.info

<bound method DataFrame.info of       Id  SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0      1          5.1         3.5          1.4         0.2     Setosa
1      2          4.9         3.0          1.4         0.2     Setosa
2      3          4.7         3.2          1.3         0.2     Setosa
3      4          4.6         3.1          1.5         0.2     Setosa
4      5          5.0         3.6          1.4         0.2     Setosa
..   ...          ...         ...          ...         ...        ...
145  146          6.7         3.0          5.2         2.3  Virginica
146  147          6.3         2.5          5.0         1.9  Virginica
147  148          6.5         3.0          5.2         2.0  Virginica
148  149          6.2         3.4          5.4         2.3  Virginica
149  150          5.9         3.0          5.1         1.8  Virginica

[150 rows x 6 columns]>

In [7]:
df.shape

(150, 6)

In [8]:
df.isna()

        Id  SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0    False        False       False        False       False    False
1    False        False       False        False       False    False
2    False        False       False        False       False    False
3    False        False       False        False       False    False
4    False        False       False        False       False    False
..     ...          ...         ...          ...         ...      ...
145  False        False       False        False       False    False
146  False        False       False        False       False    False
147  False        False       False        False       False    False
148  False        False       False        False       False    False
149  False        False       False        False       False    False

[150 rows x 6 columns]

In [9]:
df.isnull().sum()

Id             0
SepalLength    2
SepalWidth     0
PetalLength    0
PetalWidth     2
Species        0
dtype: int64

In [10]:
mapping = {'Setosa': 0, 'Versicolor': 1, 'Virginica': 2}

# Replace values directly in the original column
df['Species'] = df['Species'].map(mapping)

In [11]:
df.head()

   Id  SepalLength  SepalWidth  PetalLength  PetalWidth  Species
0   1          5.1         3.5          1.4         0.2        0
1   2          4.9         3.0          1.4         0.2        0
2   3          4.7         3.2          1.3         0.2        0
3   4          4.6         3.1          1.5         0.2        0
4   5          5.0         3.6          1.4         0.2        0